<%- include("./partials/header.ejs") %>

<% allFav.forEach((fav)=> { %>
    <div class="card <%=fav.overall_aqi_color%>">
        <h4 class="card-header"><%=fav.city.city%>, <%=fav.city.state_abbrv%></h4>
        <div class="card-body">
          <h5 class="card-title">Overall AQI: <strong><%= fav.aqi %></strong> </h5>
          <h6><strong><%=fav.level%></strong></h6>
          <p><%=fav.healthImplications %></p>
          <p class="card-text">
            [CO aqi <strong><%= fav.aqi_co %></strong>] 
            [PM10 aqi <strong><%= fav.aqi_pm10 %> </strong>] 
            [PM2.5 aqi <strong><%= fav.aqi_pm2_5 %> </strong>] 
            [SO2 aqi <strong><%= fav.aqi_so2 %> </strong>] 
            [O3 aqi <strong><%= fav.aqi_o3 %> </strong>] 
            [NO2 aqi <strong><%= fav.aqi_no2 %>  </strong>] 
          </p>
      
          <p>date <%= fav.date %> </p>
          <div>
            <form action="/favorite?_method=PUT" method="post">
              <textarea class="bg-light"id="textarea" name="comment" maxlength="250" rows="2" cols="50" placeholder="Enter notes here and save. Type up to 250 characters"><%=fav.comments%></textarea>
              <input type="hidden" name="id" value="<%=fav.id%>">
              <button type="submit" class="btn btn-primary mb-5">save note</input>
            </form>
          </div>

          <form action="/favorite?_method=DELETE" method="post">
            <input type="hidden" name="deleteId" value="<%=fav.id%>">
            <input type="hidden" name="delete" value="delete">
            <button type="submit" class="btn btn-outline-dark btn-block">permanently delete this favorite</input>
          </form>
        </div>
    </div>
   
<% }); %>


<%- include("./partials/footer.ejs") %>